.form {
  display: flex;
  flex-direction: column;
  font-size: 24px;
  align-items: center;
  font-family: sans-serif;

  &__div {
    margin-top: 3%;

    &--inp {
      margin-left: 10px;
      color: blue;
      border: 3px solid aqua;
      border-radius: 10px;

      &--info {
        margin-left: 40px;
      }
    }
  }
}
