<form class="form" [formGroup]="contactForm" (ngSubmit)="submitForm()">
    <div class="form__div">
        <label for="name"> Name </label>
        <input class="form__div--inp" id="name" formControlName="name" type="text" />
        <span class="form__div--info" *ngIf="submitted && contactForm.controls.name.errors">Introduce 4 caracteres</span>
    </div>
    <div class="form__div">
        <label for="email"> Email </label>
        <input class="form__div--inp" id="email" formControlName="email" type="text" />
        <span class="form__div--info" *ngIf="submitted && contactForm.controls.email.errors">Introduce email</span>
    </div>
    <div class="form__div">
        <label for="message"> Message </label>
        <textarea class="form__div--inp"id="message" formControlName="message" type="text"></textarea>
        <span class="form__div--info" *ngIf="submitted && contactForm.controls.message.errors">Introduce 10 caracteres</span>
    </div>
    <div class="form__div">
        <label for="isHuman"> Are you human? </label>
        <input  type="checkbox" id="checkbox" formControlName="isHuman">
        <span class="form__div--info" *ngIf="submitted && contactForm.controls.isHuman.errors">No eres humano?</span>
    </div>
    <div class="form__div">
        <input type="submit" value="Enviar">
    </div>
</form>