
<h1>holaaaa</h1> 

<div *ngIf="character">
    <h2>{{character.name}}</h2>
    <img src="{{character.image}}" alt="">
    <p>{{character.status}}</p>
    <p>{{character.gender}}</p>
    <p>{{character.species}}</p>
    <p>{{45 | multiply:2:2}} </p>
    <p>{{24 | multiply:30:2}} </p>
    <p>{{10 | multiply:10:2}} </p>

</div>