<label for="name"> Name </label>
<input id="name" name="name" [(ngModel)]="characterName" type="text" />
<button (click)="filterCharacters(characterName,actualPage)">Filtrar</button>
<app-gallery [galleryList]=characters></app-gallery>

<button (click)="filterCharacters(characterName, actualPage - 1)">Prev</button>
{{actualPage}}
<button (click)="filterCharacters(characterName, actualPage + 1)">Next</button>