.c-gallery {
  &__img {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    border: 4px solid #00afc8;
    border-radius: 100%;
    margin-top: 15%;
    // transition: transform .2s;
    // filter: blur(2px);
  }

  &__img:hover {
    border: 4px solid red;
    // filter: blur(0px);
  }
  &__hover {
    background-color: black;
    border-style: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
  }

  &__hover:hover {
    color: chartreuse;
    // transform: scale(1.1);
    //background: linear-gradient(to bottom, black, white);
  }

  &__text {
    font-size: 32px;
    text-align: center;
  }

  &__btn {
    font-family: sans-serif;
    padding: 10px;
    background-color: aquamarine;
    border-radius: 5px;

  }
  &__btn:hover{
    background-color: chartreuse;
    cursor: pointer;
}
  
}
