<div class="c-gallery">
    <div class="row">
        <div class="col-12 col-sm-6 col-md-4 col-xl-3" *ngFor="let person of galleryList">
            <div routerLink="/characters/{{person.id}}" class="c-gallery__hover">
                <img class="c-gallery__img" src="{{person.image ? person.image : './assets/images/mundo.jpeg'}}" alt="{{person.name}}">
                <p class="c-gallery__text">{{person.name | priorityName:'**' :'--'}}</p>
                
            </div>
            <button class="c-gallery__btn" (click)="favoriteItems(person)">Add favorites</button>
        </div>
    </div>
</div>