/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/scss/bootstrap-grid';
@font-face{
    font-family: "Sholp";
    src: url('./assets/fonts/shlop.ttf');
}

body{
    font-family: 'Sholp';
    color: #00AFC8;
    background-color: black;
}
img{
    max-width: 100%;
}