.c-nav{
    height: 100px;
    color: #00AFC8;
    font-family: 'Sholp';
    text-align: center;
    font-size: 50px;
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 2%;
    
    
    &__link{
        text-decoration: none;
        color: #00AFC8;
    }
}

