<nav class="c-nav">
    <a class="c-nav__link" routerLink="/" >Home</a>
    <a class="c-nav__link" routerLink="/characters">Characters</a>
    <a class="c-nav__link" routerLink="/locations">Locations</a>
    <a class="c-nav__link" routerLink="/favorites">Favorites</a>
    <a class="c-nav__link" routerLink="/contact">Contact</a>

</nav>